In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/shulundong/Desktop/ML Final Project/final_movie_dataset_wstoryline.csv")

In [3]:
df

,Unnamed: 0,userId,movieId,rating,timestamp,title,genres,tag,imdbId,tmdbId,storyline
0,0,83090,78,2.0,2002-08-19 21:37:12,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller,"['Nudity (Topless)', 'Jack Nicholson', 'Sean P...",112744,27526.0,"After his daughter died in a hit and run, Fred..."
1,1,114990,1198,5.0,2011-08-21 14:57:11,Raiders of the Lost Ark (Indiana Jones and the...,Action|Adventure,"['adventure', 'archaeology', 'atmospheric', 'H...",82971,85.0,The year is 1936. An archeology professor name...
2,2,34191,161,4.0,2014-07-05 22:40:46,Crimson Tide (1995),Drama|Thriller|War,"['Gene Hackman', 'Viggo Mortensen', 'tom clanc...",112740,8963.0,When some Russian rebels take control of some ...
3,3,50021,1407,3.5,2006-10-17 09:21:05,Scream (1996),Comedy|Horror|Mystery|Thriller,"['suspense', 'teen', 'serial killer', 'slasher...",117571,4232.0,"A year after her mother's death, Sidney Presco..."
4,4,63574,3507,3.0,2000-09-05 16:20:29,"Odd Couple, The (1968)",Comedy,"[""adapted from B'way"", 'starring:Jack Lemmon&W...",63374,11356.0,Felix's (Jack Lemmon) wife has left him and he...
...,...,...,...,...,...,...,...,...,...,...,...
2420,2420,56087,6377,4.5,2005-05-01 15:11:18,Finding Nemo (2003),Adventure|Animation|Children|Comedy,"['animation', 'Watched', 'Disney animated feat...",266543,12.0,A clown fish named Marlin lives in the Great B...
2421,2421,104081,709,3.0,2008-07-07 17:13:29,Oliver & Company (1988),Adventure|Animation|Children|Comedy|Musical,"['adapted from:book', 'author:Charles Dickens'...",95776,12233.0,"Inspired by Charles Dickens' ""Oliver Twist"". A..."
2422,2422,98252,539,1.5,2008-11-15 23:22:52,Sleepless in Seattle (1993),Comedy|Drama|Romance,"['i own this', 'Meg Ryan', 'ownable', 'romance...",108160,858.0,"After his wife Maggie passes away, Sam Baldwin..."
2423,2423,37940,653,3.0,1997-01-16 16:15:46,Dragonheart (1996),Action|Adventure|Fantasy,"['action', 'adventure', 'dragons', 'epic', 'fa...",116136,8840.0,"The young, sickly King Einon was wounded in a ..."
2424,2424,36745,6216,4.0,2006-03-03 22:04:17,Nowhere in Africa (Nirgendwo in Afrika) (2001),Drama,"['Africa', 'culture clash', 'Kenya', 'nazis', ...",161860,1591.0,A Jewish family in Germany emigrate short befo...

In [4]:
df.nunique()

Unnamed: 0    2425
userId        2339
movieId       1458
rating          10
timestamp     2425
title         1458
genres         370
tag           1436
imdbId        1458
tmdbId        1458
storyline     1447
dtype: int64